%header.page-header
  %h1 Blogs

%table.table.table-striped
  %thead
    %tr
      %th Blog Name
      %th Show Posts
      %th Edit Blog Name
      %th Delete Blog

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td= link_to 'Show', blog
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Blog', new_blog_path, class: "btn btn-primary"
, 