-if user_signed_in?
  .page-header
    .span User Email : #{current_user.email}
    .span User ID : #{current_user.id}


  %h4 Recently Uploaded Photos by #{current_user.email}
  -if @photos.any?
    - @photos.take(6).each do |p|
      = image_tag p.image.url(:thumb), class:"thumbnail img-responsive"

  %hr

  %h4 Pages
  -if @pages.any?
    - @pages.each do |p|
      = p.title
  - else
    Your have no pages, why not add some...!

  %hr

  %h4 Albums
  - if @albums.any?
    - @albums.each do |a|
      = a.title
  - else
    Your have no albums, why not add some...!

  %hr

  %h4 Portfolios
  - if @portfolios.any?
    - @portfolios.each do |port|
      = port.title
  - else
    Your have no portfolios, why not add some...!

  %hr

- else
  %h2 You must be logged in to view this page
