%h2 Your Settings
- if @settings.any?
  = @settings.each do |s|
    %P ID: #{s.id}
    %P Facebook : #{s.facebook_name}
    %P Instragram : #{s.instagram_name}
    %P Twitter : #{s.twitter_name}
    %P GA : #{s.google_analytics}

    = link_to 'Edit Settings', edit_setting_path(s), :class => "btn btn-primary btn-wide btn-embossed"
- else
  = link_to '+ New Setting', new_setting_path, :class => "btn btn-primary btn-wide btn-embossed"
  
