<p id="notice"><%= notice %></p>

<section class="">
  <h2><%= @album.title %> #id ''<%= @album.id %>''</h2>
</section>


<section class="">
<ul>
<% @album_photos.each do |p| %>
  <li>Id of album_photos : "<%= p.id %><br>
    photo id: <%= p.photo_id %>/<br>

  </li>
<% end %>
</ul>


<code>we will show the photos here, if no photos, we will prompt to upload / move from source.</code>
</section>

<%= link_to 'Edit', edit_album_path(@album) %> | <%= link_to 'Back', albums_path %>
