<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<section class="">


  <%= @photos_in_album.each do |p| %>
  p.id
  <% end %>

  <br>
  <br>
  we will show the photos here, if no photos, we will prompt to upload / move from source.  
</section>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
