= form_for @bolg do |f|
  - if @bolg.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bolg.errors.count, "error")} prohibited this bolg from being saved:"
      %ul
        - @bolg.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
