<%= form_for(@photo) do |f| %>


  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- 
################ Useful refs for image upload field ##################
PREVIEW BEFORE UPLAOD
codepen.io/TimKaechele/pen/zFkuL?editors=101

MULTIPLE UPLOAD
railscook.com/recipes/multiple-files-upload-with-nested-resource-using-paperclip-in-rails/

JQURY FILE UPLOAD
blueimp.github.io/jQuery-File-Upload

JQURY FILE UPLOAD WITH APPERCLIP & RAILS 4
http://5minutenpause.com/blog/2013/09/04/multiple-file-upload-with-jquery-rails-4-and-paperclip/
######################################################################
-->

  
  <div class="form-group">
    <%= f.label :inactive %><br>
    <%= f.text_field :inactive, :class => "form-control" %>
 <label>Active</label>
    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-id-custom-switch-01 bootstrap-switch-on">
     
      <div class="bootstrap-switch-container">
        <span class="bootstrap-switch-handle-on bootstrap-switch-primary">ON</span><label class="bootstrap-switch-label">&nbsp;</label>
        <span class="bootstrap-switch-handle-off bootstrap-switch-default">OFF</span>
        <input type="checkbox" checked="" data-toggle="switch" id="custom-switch-01">
      </div></div>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
   </div>
  
 
   
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
