<%= form_for(@photo) do |f| %>


  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- 
################ Useful refs for image upload field ##################
PREVIEW BEFORE UPLAOD
codepen.io/TimKaechele/pen/zFkuL?editors=101

MULTIPLE UPLOAD
railscook.com/recipes/multiple-files-upload-with-nested-resource-using-paperclip-in-rails/

JQURY FILE UPLOAD
blueimp.github.io/jQuery-File-Upload
######################################################################
-->

  
  <div class="form-group">
    <%= f.label :inactive %><br>
    <%= f.text_field :inactive, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
   </div>
  
 
   
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
