<header class="page-header container-fluid">
  <section class="row">
    <section class="col-sm-6">
      <h2 class="pull-left">Photos</h2>
    </section>
    <section class="col-sm-6">
      <%= link_to '+ New Photo', new_photo_path,:class => "btn btn-primary pull-right btn-wide btn-embossed" %>
    </section>
  </section>
</header>
<section>
   <%= paginate @photos %>
</section>
<section class="row photos-row">
  <% @photos.each do |photo| %>
    <figure class="col-sm-1 photo <% if photo.inactive == true %>inactive<% end %>">
      <%= image_tag photo.image.url(:thumb), class: "thumbnail img-responsive" %>

      <% if photo.inactive == false %>
      status : active
      <% else %>
      status : inactive
      <% end %>

     <figcaption>
      <div class="actions">
        <b><%= photo.title %></b><br>
        <%= link_to 'Show', photo %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
     </figcaption>
    </figure>
  <% end %>
  
</section>
<footer class="">
  <%= paginate @photos %>
</footer>
