<p>
  <strong>Title:</strong>
  <%= @photo.title %>
  <br>
  <%= image_tag @photo.image.url(:medium) %>
  ALbums:

  <%= @photo.album_photos.each do | ap | %>
    <%= ap.id %>
  <% end %>

  <br>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
