.container
  .row
    .col-sm-6
      = form_for @post do |f|
        - if @post.errors.any?
          #error_explanation
            %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
            %ul
              - @post.errors.full_messages.each do |msg|
                %li= msg

        
        .form-group  
          %h2.page-header= @post.title      
          .span Belongs to : Blog Id "#{@post.blog_id}"       
          = f.label :blog_id, "Belongs to blog"        
          %select.form-control
            - @blogs.each do |b|
              %option{value: b.id}= b.title    
 
        .form-group
          = f.label :title           
          = f.text_field :title, class: "form-control"  

          = f.label :text , "Blog text"          
          = f.text_area :text, class: "form-control"          
             
        .form-group
          = f.submit 'Save', class:'btn btn-primary btn-embossed'
